.products-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card{
  margin-bottom: 40px;
  width: 360px;
  text-align: center;
}

.product-card img{
  width: 360px;
  height: 240px;
  object-fit: cover;
  cursor: pointer;
}

.product-card h4{
  margin-top: 10px; 
  margin-bottom: 4px;
  cursor: pointer;
}

.products hr{
  margin-top: 10px;
  margin-bottom: 40px;
}

.last-product{
  display: flex;
  width: 360px;
}