.order-container hr{
  margin-top: 10px;
  margin-bottom: 40px;
}

.order-container h4 {
  text-align: center;
}

.add-product-container h2{
  text-align: center;
  margin-top: 75px
}

.add-product-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 30px auto;
  margin-bottom: 60px;
  align-items: center;
}

.form-group{
  width: 100%;
}

.order-details{
  width: 400px;
  margin: 30px auto
}

.item-list {
  margin-bottom: 5px;
}