.login-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
  margin-bottom: 60px;
  align-items: center;
}

.form-group{
  width: 100%;
}
