body {
  margin: 0;
  padding: 0;
  font-family: 'Handlee', cursive;
}
.main-cont{
  min-height: 100vh;
}
img {
  border-radius: 2px;
}
.jumbotron{
  border-radius: 2px;
}

/* Navbar */
nav {
  font-size: 18px !important;
  -webkit-box-shadow: 1px -1px 17px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 17px -3px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 17px -3px rgba(0,0,0,0.75);
}
.navbar-brand {
  font-size: 24px !important;
  margin-right: 30px !important;
}
.ml-auto a{
  line-height: 60.02px !important;
}
.nav-item {
  margin: 0 5px;
}

/* Landing page */
.jumbotron h1 {
  font-size: 44px;
  text-align: center;
}
hr {
  margin: 80px auto;
}
.container {
  margin-top: 50px;
}
.landing-feature {
  display: flex;
  flex-direction: row;
}

.landing-feature2 {
  display: flex;
  flex-direction: row-reverse;
}

.landing-feature-image-div {
  width: 1000px;
  height: 311px;
  
  background-size: cover;
}
.landing-feature-image-div div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.landing-feature-image-div:hover img{
  opacity: 0.3;
  filter: grayscale(100%);
}
.landing-feature img {
  width: 500px;
  height: 311px;
  object-fit: cover;
  z-index: 0;
}

.landing-feature2 img {
  width: 500px;
  height: 311px;
  object-fit: cover;
  z-index: 0;
}

.landing-feature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.landing-feature-content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}

.landing-feature-content p {
  font-size: 26px;
  text-align: center;
  /* line-height: 311.38px; */
}

.landing-feature-content2 p {
  font-size: 26px;
  text-align: center;
  /* line-height: 311.38px; */
}

/* Footer */
footer{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #EEEEEE;
  padding: 20px 0;
  margin-top: 130px;
}
footer p {
  margin: 0;
  font-size: 19px;
}

@media (max-width:1200px) {
  .landing-feature {
    flex-direction: column;
    align-items: center;
  }
  .landing-feature2 {
    flex-direction: column;
    align-items: center;
  }
  .landing-feature-content {
    margin-left: 0;
  }
  
  .landing-feature-content2 {
    margin-right: 0;
  }

  .landing-feature img {
    margin-bottom: 20px;
  }
  
  .landing-feature2 img {
    margin-bottom: 20px;
  }
}